RewriteEngine On

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Pour les requêtes vers "consultations"
RewriteCond %{REQUEST_URI} ^/PROJCABI/apiApplication/consultations
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^consultations/([0-9]+)$ apiConsultation/consultations.php?id=$1 [L,QSA]

RewriteCond %{REQUEST_URI} ^/PROJCABI/apiApplication/consultations
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^consultations$ apiConsultation/consultations.php [L]

# Pour les requêtes vers "usagers"
RewriteCond %{REQUEST_URI} ^/PROJCABI/apiApplication/usagers
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^usagers/([0-9]+)$ apiUsager/usager.php?id=$1 [L,QSA]

RewriteCond %{REQUEST_URI} ^/PROJCABI/apiApplication/usagers
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^usagers$ apiUsager/usager.php [L]

# Pour les requêtes vers "medecins"
RewriteCond %{REQUEST_URI} ^/PROJCABI/apiApplication/medecins
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^medecins/([0-9]+)$ apiMedecin/medecin.php?id=$1 [L,QSA]

RewriteCond %{REQUEST_URI} ^/PROJCABI/apiApplication/medecins
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^medecins$ apiMedecin/medecin.php [L]

# Pour les requêtes vers "stats usagers"
RewriteCond %{REQUEST_URI} ^/PROJCABI/apiApplication/stats/usagers
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^stats/usagers$ stats/apiUsager/usagers.php [L,QSA]

# Pour les requêtes vers "stats medecins"
RewriteCond %{REQUEST_URI} ^/PROJCABI/apiApplication/stats/medecins
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^stats/medecins$ stats/apiMedecins/medecins.php [L,QSA]

